# Ignore Node.js related files and folders
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env

# Ignore Firebase cache files
.firebase/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
development.env
