@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body{
    background-color:  #10141e;
}

.shadow{
    box-shadow: inset 0px -20px 20px 20px #0000008c;
}

.shadowbackdrop{
  box-shadow: inset 0px -90px 30px 0px #0000008c;
}

.img{
    transition: 0.5s ease-in-out;
}

.card:hover .img{
    transform: scale(1.1);
}

.active{
    background-color: white;
    color: black;
    /* border: 1px solid white; */
}


/* loader */

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: animloader 2s ease-in-out infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }

@keyframes animloader {
    0%, 100% {
      transform: scale(0);
      opacity: 1;
}
    50% {
      transform: scale(1);
      opacity: 0;
}
  }
  